<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<integer>16384</integer>
		<key>height</key>
		<integer>256</integer>
		<key>name</key>
		<string>padMargin</string>
		<key>width</key>
		<integer>256</integer>
		<key>xLocation</key>
		<integer>256</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>16384</integer>
		<key>height</key>
		<integer>256</integer>
		<key>name</key>
		<string>padMarginActive</string>
		<key>width</key>
		<integer>256</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>padCenter</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>256</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>padCenterActive</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>64</integer>
		<key>yLocation</key>
		<integer>256</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>buttonUp</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>0</integer>
		<key>yLocation</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>buttonDown</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>64</integer>
		<key>yLocation</key>
		<integer>192</integer>
	</dict>
</array>
</plist>
